.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 70px;
    border-top: 1px solid #457b9d;
    color: #f1faee;
    display: flex;
    align-items: center;
    justify-content: center;
}
