.homepage div {
  color: #f1faee;
}

.homepage-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25vh;
}

.homepage-text {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.homepage h1 {
  font-size: 4rem;
}

.homepage-2 h1,
.homepage-3 h1 {
  text-decoration: underline;
  text-decoration-color: #e63946;
  display: flex;
  justify-content: center;
}

.homepage p {
  font-size: 1.5rem;
}

.homepage-1 p,
.homepage-3 p {
  padding-right: 20%;
}

.homepage-pindika,
.homepage-text-link {
  color: #a8dadc;
  text-decoration: none;
}

.homepage-text-link:hover {
  cursor: pointer;
  color: #e63946;
  transition: ease 0.5s;
  text-decoration: underline;
}

.homepage-foto {
  display: flex;
  justify-content: center;
  width: 49%;
}

.homepage-foto img {
  height: 450px;
  width: 450px;
  background-color: #a8dadc;
  border-radius: 50%;
}

.homepage-2 {
  margin-top: 30vh;
  padding-top: 15vh;
}

.project-container-1 {
  background-color: #324766;
  margin: 100px 25% 200px 25%;
  padding: 25px 0px;
  height: 300px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
  width: 70%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project-container-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: 0.5s ease;
  /* cursor: pointer; */
}

.arrow-wrapper {
  display: flex;
  justify-content: center;
}

.arrow {
  color: black;
  font-size: 2.5rem;
  background-color: #f1faee;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.arrow:hover {
  transform: scale(1.08);
}

.project-name {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
}

.project-container-2:visited,
.project-container-2:link {
  color: #a8dadc;
}

.project-container-2:hover .project-thumbnail {
  opacity: 0;
}

.project-container-2:hover .project-name {
  opacity: 1;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transform: scale(1.08);
}

.homepage-3 {
  margin-top: 30vh;
  padding-top: 8vh;
}

.aboutme-container {
  margin: 100px 150px 100px 150px;
  padding: 25px 2%;
  height: fit-content;
  background-color: #324766;
  display: flex;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.aboutme-container-text {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  margin-right: 3%;
  margin-left: 3%;
}

.aboutme-container-photo {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  justify-content: center;
}

.aboutme-container-photo img {
  background-color: #a8dadc;
  height: 350px;
  width: auto;
  border-radius: 50%;
}

.aboutme-text {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0px;
}

.aboutme-icons {
  flex: 0.5;
  display: flex;
  align-items: center;
}

.aboutme-icons li {
  list-style-type: none;
  padding-right: 5%;
}

.aboutme-icons a:visited,
.aboutme-icons a:link {
  color: #a8dadc;
}

.icons:hover {
  transform: scale(1.5);
}

.icons {
  font-size: 2rem;
  transition: transform 0.2s;
}

.top {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .homepage h1 {
    font-size: 2.5rem;
  }

  .homepage-1 {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
  }

  .homepage-text {
    width: 80%;
    text-align: center;
  }

  .homepage-foto {
    margin-bottom: 10px;
  }

  .homepage-foto img {
    width: 250px;
    height: 250px;
  }

  .homepage-1 p {
    padding: 0%;
  }

  .homepage-1 h1 {
    margin-bottom: 10px;
  }

  .homepage-2,
  .homepage-3 {
    padding-top: 15vh;
  }

  .project-container-1 {
    grid-template-columns: 20% 60% 20%;
    padding: 0px;
    height: 250px;
  }

  .arrow {
    font-size: 1.2rem;
  }

  .project-name {
    font-size: 1rem;
  }

  .active {
    transform: scale(1.04);
  }

  .project-thumbnail {
    height: 150px;
  }

  .aboutme-container {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .aboutme-container-photo img {
    width: 250px;
    height: 250px;
  }

  .homepage-3 p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .homepage-3 p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .homepage-2,
  .homepage-3 {
    padding-top: 15vh;
    margin-top: 0vh;
  }
}
