.project-page div {
    color: #f1faee;
}

.project-page h1 {
    color: #f1faee;
    font-size: 4em;
    text-decoration: underline;
    text-decoration-color: #e63946;
}

.project-page h1 {
    display: flex;
    justify-content: center;
}
