.project-single {
  padding-top: 10vh;
  color: #f1faee;
  text-align: center;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.project-single h1 {
  font-size: 4rem;
}

.project-single h3 {
  font-size: 2.5rem;
}

.project-single p {
  font-size: 1.5rem;
}

.project-single-image {
  margin-bottom: 1vh;
}
.project-single-image img {
  max-width: 1000px;
}

.project-single-link {
  margin: 10vh 0vh;
}

.project-single-link a:link,
.project-single-link a:visited,
.project-single-link a:active {
  text-decoration: none;
  color: #f1faee;
}

.project-single-link a:hover {
  text-decoration: underline;
}
